<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control PerfectPour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Control PerfectPour</h1>
    <div class="status">
        <p><strong>Pouring...</strong></p>
        <form action="/release-machine" method="post">
            <button type="submit">Yes, I'm Done</button>
        </form>
    </div>
    <footer>
        <p>&copy; Patent Not Even Submitted</p>
    </footer>

    <script>
        // Check machine status periodically
        setInterval(() => {
            fetch('/status')
                .then(response => response.json())
                .then(data => {
                    if (!data.machine_in_use || data.timeout_occurred) {
                        // Redirect to the home page if the machine is not in use or a timeout has occurred
                        window.location.href = '/';
                    }
                });
        }, 1000); // Check every 5 seconds
    </script>
</body>
</html>
