<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control PerfectPour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Control PerfectPour</h1>
    <div class="status">
        <p><strong>Pouring...</strong></p>
        <form action="/release-machine">
            <button type="submit">Yes, I'm Done</button>
        </form>
    </div>
    <footer>
        <p>&copy; Patent Not Even Submitted</p>
    </footer>
</body>
</html>
