<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control PerfectPour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Control PerfectPour</h1>
    <div class="status">
        {% if in_use %}
        <p style="color: #8B0000"><strong>Machine In Use</strong></p>
        {% else %}
            <form action="/run-script" method="post">
                <br/>
                <button type="submit">Pour Me</button>
            </form>
        {% endif %}
    </div>
    <footer>
        <p>&copy; Patent Not Even Submitted</p>
    </footer>

    <script>
        // Function to check machine status periodically
        setInterval(() => {
            fetch('/status')
                .then(response => response.json())
                .then(data => {
                    if (!data.machine_in_use || data.timeout_occurred) {
                        window.location.reload();
                    }
                });
        }, 1000);
    </script>
</body>
</html>
